@model MyFinishProject.Models.HelpersModels.Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Create", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
<div class="row g-3">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="col-md-6">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.Descrption, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.Descrption, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Descrption, "", new { @class = "text-danger" })
    </div>
    <div class="col-12">
        @Html.LabelFor(model => model.Production, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.Production, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Production, "", new { @class = "text-danger" })
    </div>

    <div class="col-md-6">
        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <h6>Тип продукта</h6>
        @Html.DropDownListFor(model => model.ProductType, ViewBag.Product as SelectList, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ProductType, "", new { @class = "text-danger" })
    </div>
</div>
    <div class="col-12">
        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Images, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" name="fileBase" />
            @Html.ValidationMessageFor(model => model.Images, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" class="btn btn-primary" value="Создать" />
        <button type="button" class="btn btn-primary" onclick="location.href='/Product/Index'">Отмена</button>
    </div>
}